@import "tailwindcss";

@layer base {
  :root {
    --font-poppins: 'Poppins', sans-serif;
  }
}

@theme {

  --font-poppins: var(--font-poppins);

  --color-background: #fdfcfb;
  --color-foreground: #1f1a18;

  --color-card: #fefefe;
  --color-card-foreground: #1f1a18;

  --color-popover: #fefefe;
  --color-popover-foreground: #1f1a18;

  --color-primary: #191614;
  --color-primary-foreground: #fdfcfb;

  --color-secondary: #f1f0ee;
  --color-secondary-foreground: #1f1a18;

  --color-muted: #ebeae8;
  --color-muted-foreground: #6a6863;

  --color-accent: #e3e0db;
  --color-accent-foreground: #1f1a18;

  --color-destructive: #e64545;
  --color-destructive-foreground: #fafafa;

  --color-border: #e5e3e0;
  --color-input: #e5e3e0;
  --color-ring: #1f1a18;


  /* Custom neutral colors */
  --color-neutral: #7f7a73;
  --color-neutral-light: #f6f5f4;
  --color-neutral-dark: #26211e;
}

.custom-container.custom-container {
  @apply max-w-[1440px] mx-auto px-4 sm:px-6 lg:px-8;
}

.hover-utility {
  @apply transition-all duration-250 ease-in-out
}